.container {
  background: #fff;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  left: 0;
  padding: 0.625rem 0;
  position: fixed;
  right: 0;

  a {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 0.625rem;
    height: 2.5rem;
    justify-content: space-between;

    &:not(:first-child) {
      color: #bfbebf;
    }

    img, svg {
      width: 1.125rem;
    }
  }
}